body {
    background-color: rgb(56, 55, 55);
    font-family: sans-serif;
    color: rgb(161, 161, 161);
}

h1 {
    color: rgb(202, 201, 201);
}

p {
    color: rgb(161, 161, 161);
}

a {
    text-decoration: none;
    color: rgb(125, 125, 125);
    font-size: larger;
}

    a:hover {
        color: rgb(255, 255, 255);
    }

hr {
    color: rgb(81, 81, 81);
    background-color: rgb(81, 81, 81);
    height: 2px;
    border: none;
}
